.logo{
    width: 100px;
}



body{
    background-image: url("https://external-preview.redd.it/8t2Ke2zdrHx669tFR1UzcOvELcpRPMUsPUyMLVB0EN0.jpg?width=1080&crop=smart&auto=webp&s=39931f158b92ee9495d1ef58f6072a80202ecab5");
}

.fa-heart{
    background-color: none;
}